Source: asterisk
Section: comm
Priority: optional
Maintainer: hungmv <hungmv9710@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 xmlstarlet,
 autoconf-archive,
 bison,
 flex,
 patch,
 pkg-config,
 libspeex-dev,
 libspeexdsp-dev,
 libedit-dev,
 libjansson-dev,
 libsqlite3-dev,
 uuid-dev,
 libxml2-dev,
 libssl-dev,
 zlib1g-dev,
 libogg-dev,
 libvorbis-dev,
 libgsm1-dev,
 libspandsp-dev,
 libasound2-dev,
 portaudio19-dev,
 libsrtp2-dev | libsrtp0-dev,
 libpq-dev,
 libopus-dev,
 libmysqlclient-dev | libmariadb-dev,
 unixodbc-dev,
 libcurl4-openssl-dev,
 libldap2-dev,
 corosync-dev
Standards-Version: 4.6.0
Homepage: https://www.asterisk.org
Rules-Requires-Root: no

Package: asterisk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends:
 asterisk-core-sounds-en-wav,
 asterisk-moh-opsound-wav
Description: Open Source PBX
 Asterisk telephony toolkit.